:root {
    --dgry: hsl(0, 0%, 18%);
    --wht: hsl(0, 0%, 90%);
    --blu: hsl(221, 100%, 31%);
    --hvrblu: hsl(221, 100%, 20%);
    --red: hsl(0, 96%, 42%);
    --bg: var(--dgry);
    --font: var(--wht);
}

* {
    position: relative;
}

.lightMode {
    --bg: var(--wht);
    --font: var(--dgry);
}

body {
    background-color: var(--bg);
    color: var(--font);
    font-family: sans-serif;
    margin: 0;
}

/*//////////////////////////
    Nav bar
///////////////////////////////////////////////*/

    nav {
        top: 0;
        left: 0;
        padding: 0;
        border-radius: 10px;
        width: 100%;
        height: 4.5rem;
        background-color: var(--blu);
        color: var(--wht);
    }

    nav h1 {
        top: -4.75rem;
        margin-left: 4.5rem;
        color: var(--red);
    }

    nav img {
        padding: 0;
        width: 4rem;
        height: inherit;
        border-radius: 10px;
    }

    nav ul {
        font-size: 1rem;
        margin-right: 0.5rem;
        top: -9rem;
        text-align: right;
    }

    nav li {
        padding: 0.25rem;
        border-radius: 10px;
        cursor: pointer;
        list-style: none;
        margin-top: 0.5rem;
    }

    nav li:hover {
        background-color: var(--hvrblu);
    }

/*////////////////////////
    Forum
////////////////////////////////////////////////*/

    .container {
        border-radius: 10px;
        left: 50%;
        top: 1.5rem;
        transform: translateX(-50%);
        width: 95%;
        background-color: var(--font);
        border-bottom: 0.5rem;
    }

    .forum {
        top: 1rem;
    }

    .gday {
        left: 50%;
        transform: translateX(-50%);
        height: 3rem;
        width: clamp(15rem, 98%, 100rem);
        border-radius: 10px;
        background-color: var(--bg);
        text-align: center;
        font-size: 2rem;
        padding-top: 0.5rem;
        margin-bottom: 0.25rem;
    }

    .gday h1 {
        bottom: 1rem;
        color: var(--font);
    }

    .fm-recent {
        background-color: var(--bg);
        left: 50%;
        transform: translateX(-50%);
        width: clamp(15rem, 98%, 100rem);
        border-radius: 10px;
    }

    .fm-recent div {
        width: 100%;
        border-bottom: 1px solid var(--font);
    }

    .fm-recent div h1 {
        left: 0.3rem;
        font-size: 18px;
    }

    .tp-fm-boi {
        top: 0.2rem;
    }

    .fm-boi {
        top: -0.5rem;
    }

    .fm-recent div p {
        top: -0.6rem;
        left: 0.3rem;
        font-size: 14px;
        margin-bottom: 0.1rem;
    }

/*//////////////////////////
    Events
////////////////////////////////////////////////////*/

    .events {
        top: 2rem;
        height: 50rem;
    }

    .next {
        top: 0rem;
        border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--bg);
        width: clamp(10rem, 98%, 100rem);
    }

    .next div {
        margin-top: 0.25rem;
        padding: 0.25rem;
        font-size: 20px;
        border-bottom: 1px solid var(--font);
    }

    .next h1 {
        top: 0.6rem;
        text-align: center;
        border-bottom: 1px solid var(--font);
    }

    .last {
        border-radius: 10px;
        top: 0.25rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--bg);
        width: clamp(10em, 98%, 100rem);
        padding-bottom: 0.5rem;
    }

    .last h1 {
        top: 0.6rem;
        text-align: center;
        border-bottom: 1px solid var(--font);
    }

    .pics {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .pics div {
        margin-top: 0.3rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        width: 95%;
        height: 7.5rem;
        background-color: var(--blu);
        border: 2px solid var(--font);
    }

    @media (min-width: 750px) {
    
    nav ul {
        margin-right: 0.5rem;
        top: -7.3rem;
        text-align: right;
    }

    nav li {
        display: inline;
        list-style: none;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    .forum {
        width: 70%;
    }

    .events {
        top: 0rem;
        width: 30%;
    }

    .last {
        height: clamp(20rem, 60%, 50rem);
    }

    .pics div {
        height: 6rem;
    }
}